// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "resources/assets/bower/bootstrap/dist/css/bootstrap";

// External functions
@import "mixins";

// Device media queries
@import "mediaqueries";

.banner {
  padding-top: 50px;
  min-height: 100vh;
  background: #fff url("../img/banner.jpg") no-repeat fixed;
  background-size: cover;
  text-align: center;
  // .pixel-me { @include vertical-align(56%); }
}

.thumbnail {
  border: none;
  text-align: justify;
  .caption {
    text-align: center;
  }
  .description {
    max-height: 150px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.thumbnail-homepage {
  img {
    max-width: 200px;
    max-height: 200px;
  }
}
